body {
    background-color: rgba(100, 137, 216, 0.685) 
}

h1 {
    color: green;
    text-align: center;
    margin-top: 130px;
    font-size: 50px;
    
}

button {
    color: red;
    margin-left: 638px;
   
    
}